<header>
  <nav class="nav">
    <div
       [ngClass]="{'nav_logo':!logo, 'nav_logo2':logo}"
    >
      <img src="./assets/pac-man.png" />
    </div>
    <div class="nav_filter">
      <span class="material-symbols-outlined"> search </span>
      <input
        type="text"
        (ngModelChange)="getGames($event)"
        [ngModel]="filter"
        placeholder="¿Qué estás buscando?"
      />
    </div>
    <div class="nav_shopping_cart">
      <p>Resumen de compras</p>
      <div class="cart">
        <span class="material-symbols-outlined"> shopping_cart</span>
        <span class="badge">3</span>
      </div>
    </div>

    <div class="nav_profile">
      <span class="material-symbols-outlined"> account_circle </span>
      <span>Eduardo</span>
      <span class="material-symbols-outlined"> arrow_drop_down </span>
    </div>
  </nav>
</header>
