.error-container {
  padding-top: 20%;
  color: #db3033;
  text-align: center;
  height: 100%;
  h1 {
    display: block;
    font-weight: bold;
    font-size: 130px;
    font-weight: 300;

    @media (min-width: 768px) {
      font-size: 220px;
    }
    @media (min-width: 480px) {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .return {
    font-weight: 400;
    font-size: 80px;
    letter-spacing: -0.04em;
    margin: 0;
    a {
      padding-bottom: 1px;
      color: #ff9a03;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      -webkit-transition: border-color 0.1s ease-in;
      transition: border-color 0.1s ease-in;
    }
  }
}
