.container {
  padding: 220px 100px 10px 100px;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 300px;
    margin: 30px;

    .container_card {
      max-width: 270px;
      display: grid;
      place-items: center;
      border-radius: 15px;
      -webkit-box-shadow: 0px 0px 13px 7px rgba(209, 209, 209, 0.39);
      -moz-box-shadow: 0px 0px 13px 7px rgba(209, 209, 209, 0.39);
      box-shadow: 0px 0px 13px 7px rgba(209, 209, 209, 0.39);

      img {
        padding: 20px 0 10px 0;
        width: 80%;
        height: 170px;
      }

      p {
        font-size: 20px;
        font-weight: 800;
        text-align: center;
      }
      button {
        background-color: #ff9a03;
        border: none;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 100px 50px 10px 50px;
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 100px 50px 10px 50px;
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
